<a href="https://colab.research.google.com/github/Chronicbeard/APCSA1/blob/master/TRAIN_Python2%5BSTUDENT%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab #2: Python - Part 2
---

## **Part #0: Review**
---

### Exercise #1
---
**Problem:** Print your age.

### Exercise #2
---
**Problem:** Print your name.

### Exercise #3
---
**Problem:** What are the following data types?

```python
11
"zipcode"
3.0
3
"yellow"
[1, 2, 3]
-11
["peaches", "grapes", "tomatoes"]
"49ers"
```

### Exercise #4
---
**Problem:** Create a variable called `name` and assign it to your name. Then print a statement that reads: `Welcome back, [YOUR NAME]`

###Exercise #5

---

**Problem:** Using the variable `zipcode`, print: `"My zipcode is <zipcode>"`.

In [ ]:
zipcode = 11780

###Exercise #6

---

**Problem:** Print the sum of 76 and 92.

###Exercise #7

---

**Problem:** Print the product of 2 and 45.0.

###Exercise #8

---
**Problem:** Print the sum of students and teachers.

In [ ]:
students = 35
teachers = 1
# add code here

---

###Back to Lecture

---

## **Part #1: Lists**
---

###Practice Together #1
---
**Problem:** Create a list called `states` of 4 different U.S. states.
Print the list.

**Note:** When you create a list, this is referred to as *initializing a list*.

##### **Solution**

In [ ]:
states = ["Montana", "California", "Alabama", "Georgia"]
print(states)

###Practice Together #2
---
**Problem:** Initialize a list called `even` of all even numbers from 1-10.
Print the list.

#####**Solution**

In [ ]:
even = [2, 4, 6, 8, 10]
print(even)

---

#####**Now your turn! Try Exercises #1-2 on your own.**

---

###Exercise #1
---
**Problem:** Initialize a list called `count` of numbers 1-6.
Print the list.

###Exercise #2
---
**Problem:** Initialize a list called `animals` of your three favorite animals. Print the list.

---

### Back to Lecture

---

### Practice Together #3
---
**Problem:** Given the following list, use indexing to print out `“code!”`.

In [ ]:
ls = ["I", "love", "to", "code!"]

#####**Solution**

In [ ]:
ls = ["I", "love", "to", "code!"]
print(ls[3])

###Practice Together #4
---
**Problem:** Use indexing to print Alexus' name.

In [ ]:
family = ["Rebecca", "Samuel", "Indiyah", "Alexus"]

#####**Solution**

In [ ]:
family = ["Rebecca", "Samuel", "Indiyah", "Alexus"]
print(family[3])

Alexus

---

#####**Now your turn! Try Exercises #3-6 on your own.**

---

###Exercise #3
---
**Problem:** Use indexing to print out `"the"` in the following list:

In [ ]:
ls = ["welcome", "to", "the", "coding", "school"]

###Exercise #4
---
**Problem:** Print `21` using indexing.

In [ ]:
numbers = [17, 15, 21, 33]

###Exercise #5
---
**Problem:** Print `"Math"` using indexing.

In [ ]:
subjects = ["Math", "Science", "History", "English"]

###Exercise #6
---
**Problem:** Print `"jellyfish"` using indexing.

In [ ]:
animals = ["shark", "fish", "octopus", "jellyfish", "whale"]

---

###Back to Lecture

---

### Practice Together #5
---
**Problem:** Given the following list `ascending`, replace the values of `41` and `20` so that the list is in ascending order.

In [ ]:
ascending = [12, 13, 41, 15, 16, 20, 18]

#####**Solution**

In [ ]:
ascending = [12, 13, 41, 15, 16, 20, 18]
ascending[2] = 14
ascending[5] = 17
print(ascending)

###Practice Together #6
---
**Problem:** Given the following list `endangered`:

1. Replace `"Tiger"` with `"Rhino"`. Print the list.
2. Replace `"Snow leopard"` with `"Elephant"`. Print the list.

In [ ]:
endangered = ["Tiger", "Giant panda", "Snow leopard", "Vaquita"]

#####**Solution**

In [ ]:
endangered = ["Tiger", "Giant panda", "Snow leopard", "Vaquita"]
endangered[0] = "Rhino"
print(endangered)
endangered[2] = "Elephant"
print(endangered)

['Rhino', 'Giant panda', 'Snow leopard', 'Vaquita']
['Rhino', 'Giant panda', 'Elephant', 'Vaquita']

---

#####**Now your turn! Try Exercises #7-10 on your own.**

---

###Exercise #7
---
**Problem:** Replace `"monkeys"` with `"penguins"` in the list below. Print the list.

In [ ]:
fav_animals = ["giraffes", "walruses", "pandas", "peacocks", "monkeys"]

###Exercise #8
---
**Problem:** Given the list `us_presidents`, replace `"Jackson"` with `"Lincoln"`, and then print the updated list.

In [ ]:
us_presidents = ["Washington", "Adams", "Jefferson", "Madison", "Jackson"]

###Exercise #9
---
**Problem:** Given the list `subjects`, replace `"Science"` with `"Biology"`. Print the list.

In [ ]:
subjects = ["Math", "Science", "History", "English"]

###Exercise #10
---
**Problem:** Given the list `odd`, replace the even numbers with odd numbers. Print the list.

In [ ]:
odd = [3, 11, 19, 25, 12, 8]

---

###Back to Lecture

---

### Practice Together #7
---
**Problem:**
Initialize a list called `subjects` and assign it three values: `"English"`, `"Math"`, `"Physics"`.

1. Add `"Computer Science"` and then print the updated list.
2. Add `"Psychology"` and then print the updated list.

#####**Solution**

In [ ]:
subjects = ["English", "Math", "Physics"]
subjects.append("Computer Science")
print(subjects)
subjects.append("Psychology")
print(subjects)

['English', 'Math', 'Physics', 'Computer Science']
['English', 'Math', 'Physics', 'Computer Science', 'Psychology']

###Practice Together #8
---
**Problem:**
Initialize an empty list called `endangered`. Append the following values to the list one at a time: `"Tiger"`, `"Giant panda"`, `"Snow leopard"`, and `"Vaquita"`.

Print your list to make sure it is correct.

#####**Solution**

In [ ]:
endangered = []
endangered.append("Tiger")
endangered.append("Giant panda")
endangered.append("Snow leopard")
endangered.append("Vaquita")
print(endangered)

['Tiger', 'Giant panda', 'Snow leopard', 'Vaquita']

---

#####**Now your turn! Try Exercises #11-13 on your own.**

---

### Exercise #11
---
**Problem:** Given the  list `[10, 12, 12, 40]`, append your age to the list.

###Exercise #12
---
**Problem:** Initialize an empty list called `letters` and append the value `"abc"` three times.

###Exercise #13
---
**Problem:** Given the list `us_presidents`, append `"Nixon"` to the list. Print the list.

In [ ]:
us_presidents = ["Washington", "Adams", "Jefferson", "Madison", "Jackson"]

---
### Back to Lecture
---

### Practice Together #9
---
**Problem:**
Given the list `land_animals`, remove all animals that live in the water. Then print the list.

In [ ]:
land_animals = ["dog", "tiger", "whale", "bear", "dolphin", "hamster", "shark"]

#####**Solution**

In [ ]:
land_animals = ["dog", "tiger", "whale", "bear", "dolphin", "hamster", "shark"]
land_animals.remove("whale")
land_animals.remove("dolphin")
land_animals.remove("shark")
print(land_animals)

['dog', 'tiger', 'bear', 'hamster']

### Practice Together #10
---
**Problem:**
Given the list `sciences`, remove all subjects that are not science subjects. Then, print the list.

In [ ]:
sciences = ["Physics", "Math", "History", "Chemistry", "Music", "Biology"]

#####**Solution**

In [ ]:
sciences = ["Physics", "Math", "History", "Chemistry", "Music", "Biology"]
sciences.remove("Math")
sciences.remove("History")
sciences.remove("Music")
print(sciences)

['Physics', 'Chemistry', 'Biology']

---

#####**Now your turn! Try Exercises #14-16 on your own.**

---

### Exercise #14

---
**Problem:** Given the list below, remove `"Gilmore Girls"` and then print the list.

In [ ]:
fav_tv = ["Gilmore Girls", "Star Trek", "Stranger Things", "Ted Lasso"]

### Exercise #15

---
**Problem:** Remove `3` from the list below.

In [ ]:
age_cats = [5, 3, 2, 4]

###Exercise #16
---
**Problem:** Remove `"pandas"` from the list below.

In [ ]:
fav_animals = ["giraffes", "walruses", "pandas", "peacocks", "monkeys"]



---
###Back To Lecture

---

## **Part 1.1: Practice [Optional]**
---

###**Practice with Lists and Indexing**
---

###Exercise #1

---
**Problem:** Initialize a list called `countries` of three different countries. Print the list.

###Exercise #2

---
**Problem:** Initialize a list called `tv_shows` of five different TV shows. Print the list.

###Exercise #3

---
**Problem:** Use indexing to print the element `9`.

In [ ]:
numbers = [1, 3, 5, 7, 9]

###Exercise #4

---
**Problem:** Print the first element in the given list.

In [ ]:
ls = ["first", "second", "third"]

###Exercise #5

---
**Problem:** Print the last element in the given list.

In [ ]:
flowers = ["rose", "tulip", "dandelion", "sunflower"]

###Exercise #6

---
**Problem:** Given the list `supplies`,
add `"notebook"` to the list. Print the resulting list.

In [ ]:
supplies = ["textbook", "pencil", "pen"]

###Exercise #7

---
**Problem:** Given the list
`supplies`,
remove `"pen"` from the list. Print the resulting list.

In [ ]:
supplies = ["textbook", "pencil", "pen", "notebook"]

###Exercise #8

---
**Problem:** Given the list `colors`, replace `"grape"` with `"purple"`. Print the resulting list.

In [ ]:
colors = ["blue", "red", "green", "orange", "grape"]

###Exercise #9

---
**Problem:** Given the list `greetings`, remove the empty string. Print the resulting list.

In [ ]:
greetings = ["hello", "", "hi", "hey"]

###Exercise #10

---
**Problem:** Given the list `animals`, replace `"zoo"` with `giraffe`. Print the resulting list.

In [ ]:
animals = ["zoo", "dolphin", "horse", "bird", "gorilla"]



---
###Back To Lecture

---

## **Part #2: Functions**
---

###Practice Together #1
---
**Problem:**

1. Create a function called `greeting`. This function takes in no arguments. This function should print the text `"Welcome back!"` and return nothing.
2. Call this function.

#####**Solution**

In [ ]:
def greeting():
  print("Welcome back!")

greeting()

###Practice Together #2
---
**Problem:** Create a function called `my_name`. This function should take an argument containing a string and print out `"My name is _______"` where the `___` represents the value of the argument.

Call your function to make sure it works.

#####**Solution**

In [ ]:
def my_name(name):
  print("My name is "+ name)


my_name("Phil")

My name is Phil

###Practice Together #3
---
**Problem:** Debug the following cell. When called, `code_is_cool()` should print `"Coding is cool!"`

In [ ]:
code_is_cool()
def code_is_cool():
  print("Coding is cool!")

#####**Solution**

In [ ]:
# need to define first
def code_is_cool():
  print("Coding is cool!")


code_is_cool()

###Practice Together #4
---
**Problem:**
1. Define a function called `addition` that takes two arguments and returns the sum of the two arguments.
2. Call this function with two integers and store the output in a variabled called `sum_value`.
3. Print the value of `sum_value`.

#####**Solution**

In [ ]:
def addition(a,b):
  return a+b

sum_value = addition(1,1)
print(sum_value)

---

#####**Now your turn! Try Exercises #1-5 on your own.**

---

###Exercise #1
---
**Problem:** How many arguments does this function have?

In [ ]:
def print_name_age(name, age):
  print(name + " is " + str(age) + " years old")

###Exercise #2
---
**Problem:** Given the following function, complete it so that it returns the sum of the arguments. You can assume all arguments are valid numbers. Test your function.

In [ ]:
def add_three(num1, num2, num3):

# Test
x = add_three(5, 9, 3)
print(x)

###Exercise #3
---
**Problem:**  How many arguments are in this function?

In [ ]:
def my_function(fname, mname, lname, age):
  print(fname + " " + mname + " " + lname + + " is " + age)

###Exercise #4
---
**Problem:**  Define a function called `zipcode` that takes 1 argument called `num` and returns the sentence: "My zipcode is [NUM]."

Test your function.

###Exercise #5
---
**Problem:**  Define a function called `random` that takes three numbers as arguments and returns the result of multiplying the first two numbers and then the third number.

Test your function.

##**PART 3: Independent Practice**
---

###Exercise #1
---
**Problem:**  How many arguments are in the following function?

In [ ]:
def print_sentence(name, activity1, activity2):
  print("Hi! My name is " + name + " and I like to " + activity1 + " and " + activity2)

###Exercise #2
---
**Problem:**  Use indexing to print the largest number in the list.

In [ ]:
numbers = [93, 27, 42, 31, 95, 97]

###Exercise #3
---
**Problem:**  Call the function `print_sentence` with the appropriate arguments.

In [ ]:
def print_sentence(name, activity1, activity2):
  print("Hi! My name is " + name + " and I like to " + activity1 + " and " + activity2)

#add code

###Exercise #4
---
**Problem:**  Initialize an empty list called `grocery_list`. Then, add the following items to the list, one at a time: `"milk"`, `"eggs"`, `"bread"`, `"juice"`, and `"cheese"`. Print the resulting list.

###Exercise #5
---
**Problem:**  Given the list
`ls = [1, 2, 3, 4, 5]`,
create a new list called `reversed_ls` such that it has the values of `ls` in reverse order. Print that list.

In [ ]:
ls = [1, 2, 3, 4, 5]

###Exercise #6
---
**Problem:**  Call the function `welcome` with the appropriate argument.

In [ ]:
def welcome(name):
  print("Welcome back, " + name + "!")

#add code

###Exercise #7
---
**Problem:**  We have given you an incomplete function called `my_favorite_color`.

Complete the function such that it prints the sentence `"My favorite color is <color>!"`

The area labelled:
```python
#TODO
```
is where you should add your code. You can assume that the argument is a string.

In [ ]:
def my_favorite_color(color):
  #TODO

# Test
my_favorite_color("red")

###Exercise #8
---
**Problem:** Given the list `ls = ["h", "e", "l", "l", "o"]`, print the concatenated string of the elements in the list.

In [ ]:
ls = ["h", "e", "l", "l", "o"]

###Exercise #9
---
**Problem:**  Given the list `months`, modify the list so that it contains all 12 months. Print the resulting list.

In [ ]:
months = ["January", "February", "March", "May", "June", "July", "September", "November"]

###Exercise #10
---
**Problem:**  Define a function called `square` that takes in an argument that is a number, and returns the square of that number.

Test your function.

###Exercise #11
---
**Problem:**  Define a function called `multiply` that takes three arguments and returns the product of the three arguments.

You can assume that the arguments are numbers (integers or floats).

Test your function.

###Exercise #12
---
**Problem:**  Given the list `numbers = [7, 12, 13, 15, 4, 8, 9]`, remove the even numbers from the list. Print the resulting list.

In [ ]:
numbers = [7, 12, 13, 15, 4, 8, 9]

###Exercise #13
---
**Problem:**  Use indexing to print ```15```.

In [ ]:
numbers = [5, 7, 10, 14, 19]

###Exercise #14
---
**Problem:** Modify the list below so that it becomes `[100, 25, 60, 90, 40]`. Print the resulting list.

In [ ]:
numbers = [10, 25, 40, 60, 90]

###Exercise #15
---
**Problem:**  Define a function called `math` that takes in two numbers as arguments, and prints the sum and product of those numbers in the format: \\
"Sum: `___`" \\
"Product: `___`" \\
where `___` is the corresponding value. Test your function.

###Exercise #16
---
**Problem:**  We have given you an incomplete function called `todo_print` Complete the function such that for each argument it will print out `"Todo item: ___"` where `___` is the value of each argument.

The area labelled:
```python
#TODO
```
Is where you should add your code.

In [ ]:
def todo_print(item1, item2, item3, item4):
  # TODO

# Test
todo_print("Get eggs", "pet dog", "make coffee", "make breakfast")

Todo item: Get eggs
Todo item: pet dog
Todo item: make coffee
Todo item: make breakfast

---
© 2023 The Coding School, All rights reserved